<h1>Eng yaxshi loyihani tahrirlash</h1>

<div class="container mt-3 mb-3"> 
    <form method="POST" action="<%=`/news/${result._id}?_method=PUT`%>"  class="needs-validation" novalidate>
         <!-- Eng yaxshi loyihani turi model name ssf -->
        <div class="mb-3">
            <label class="form-label" for="validationCustom01">Eng yaxshi loyihani turi Uzbek tilida tahrirlash</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="Eng yaxshi loyihani turini yozing Uzbek tilida" value="<%= result.name.uz %>" name="nameuz"  required>
            <div class="invalid-feedback">
                Eng yaxshi loyihani turi yozilmagan
            </div>
            <div class="valid-feedback">
               Yaxshi
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="validationCustom01">Eng yaxshi loyihani turi Rus tilida tahrirlash</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="Eng yaxshi loyihani turini yozing Rus tilida" value="<%= result.name.ru %>" name="nameru"  required>
            <div class="invalid-feedback">
                Eng yaxshi loyihani turi yozilmagan
            </div>
            <div class="valid-feedback">
               Yaxshi
            </div>
        </div>
 
        <div class="mb-3">
            <label class="form-label" for="validationCustom01">Eng yaxshi loyihani turi Ingliz tilida tahrirlash</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="Eng yaxshi loyihani turini yozing Ingliz tilida" value="<%= result.name.en %>" name="nameen"  required>
            <div class="invalid-feedback">
                Eng yaxshi loyihani turi yozilmagan
            </div>
            <div class="valid-feedback">
               Yaxshi
            </div>
        </div>
        <hr style="color: red; height: 2px;">
 <!-- Eng yaxshi loyihani sarlavhasi model title -->
        <div class="mb-3">
            <label class="form-label" for="validationCustom01">Eng yaxshi loyihani sarlavhasi Uzbek tilida tahrirlash</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="Eng yaxshi loyihani Sarlavhasini yozing uzbek tilida" value="<%= result.title.uz %>"  name="titleuz" required>
            <div class="invalid-feedback">
                Eng yaxshi loyihani Sarlavhasi yozilmagan
            </div>
            <div class="valid-feedback">
               Yaxshi
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="validationCustom01">Eng yaxshi loyihani sarlavhasi Rus tilida tahrirlash</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="Eng yaxshi loyihani Sarlavhasini yozing rus tilida" value="<%= result.title.ru %>" name="titleru" required>
            <div class="invalid-feedback">
                Eng yaxshi loyihani Sarlavhasi yozilmagan
            </div>
            <div class="valid-feedback">
               Yaxshi
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="validationCustom01">Eng yaxshi loyihani sarlavhasi Ingliz tilida tahrirlash</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="Eng yaxshi loyihani Sarlavhasini yozing Ingliz tilida" value="<%= result.title.en %>" name="titleen" required>
            <div class="invalid-feedback">
                Eng yaxshi loyihani Sarlavhasi yozilmagan
            </div>
            <div class="valid-feedback">
               Yaxshi
            </div>
        </div> 
        <hr style="color: red; height: 2px;">
         <!-- Eng yaxshi loyihaning topshirilgan sanasi model description -->
         <div class="mb-3 position-relative" id="datepicker1">
            <label class="form-label">Ish topshirilgan sana:</label>
            <input type="text" class="form-control" value="<%= result.year %>" name="year" data-provide="datepicker" data-date-container="#datepicker1">
            <div class="invalid-feedback">
                Eng yaxshi loyihaning Sarlavhasi yozilmagan
            </div>
            <div class="valid-feedback">
               Yaxshi
            </div>
        </div>
        <hr style="color: red; height: 2px;">
      <!-- Eng yaxshi loyiha haqida  model description -->

        <div class="mb-3">
            <label class="form-label"  >Eng yaxshi loyiha haqida Uzbek tilida tahrirlash</label>
            <textarea class="form-control "  rows="5" 
                placeholder="Eng yaxshi loyiha haqida yozing Uzbek tilida" name="descriptionuz"><%= result.description.uz %></textarea>
            
        </div>
        <div class="mb-3">
            <label class="form-label">Eng yaxshi loyiha haqida Rus tilida tahrirlash</label>
            <textarea class="form-control "  rows="5" 
                placeholder="Eng yaxshi loyiha haqida yozing rus tilida" name="descriptionru"><%= result.description.ru %></textarea>
            
        </div>
        <div class="mb-3">
            <label class="form-label"  >Eng yaxshi loyiha haqida Ingliz tilida tahrirlash</label>
            <textarea class="form-control"  rows="5" 
                placeholder="Eng yaxshi loyiha haqida yozing Ingliz tilida" name="descriptionen"><%= result.description.en %></textarea>
            
        </div>
        
        <button class="btn btn-primary" type="submit">Saqlash</button>
    </form>
<!-- Bitta rasmni tahrirlash -->
    <form method="POST" action="<%=`/news/update/${result._id}?_method=PUT`%>" ref="uploadForm"
        encType="multipart/form-data" class="col-md-4 mt-3">
        <div class="mb-3">
            <label>Rasmni tahrirlash</label>
            <br>
            <img width="150px" class="col" src="/uploads/news/<%=result.image%>">
        </div> 
        <input class="form-control" name="image" type="file" multiple> <br>

        <button type="submit" class="btn btn-primary col-md-5 mt-3">Saqlash</button>
    </form>
    
</div>