
<h1>Jamoa a'zolarini tahrirlash</h1>  
<div class="container mt-3 mb-3">  
    <form action="<%=`/team/${result._id}?_method=PUT`%>" method="POST"  class="needs-validation" novalidate>
        <!-- Jamoa a'zosini ismi model name -->
        <div class="mb-3"> 
            <label class="form-label" for="validationCustom01">Jamoa a'zosini ismi Uzbek</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="Jamoa a'zosini ismi yozing Uzbek tilida" value="<%= result.name.uz %>" name="nameuz" required>
            <div class="invalid-feedback">
                Jamoa a'zosini ismi yozilmagan
            </div>
            <div class="valid-feedback">
               Yaxshi
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="validationCustom01">Jamoa a'zosini ismi Rus</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="Jamoa a'zosini ismini yozing Rus tilida" value="<%= result.name.ru %>" name="nameru" required>
            <div class="invalid-feedback">
                Jamoa a'zosini ismi yozilmagan
            </div>
            <div class="valid-feedback">
               Yaxshi
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="validationCustom01">Jamoa a'zosini ismi English</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="Jamoa a'zosini ismini yozing Ingliz tilida" value="<%= result.name.en %>" name="nameen" required>
            <div class="invalid-feedback">
                Jamoa a'zosini ismi yozilmagan
            </div>
            <div class="valid-feedback">
               Yaxshi
            </div>
        </div>
        <hr style="color: red; height: 2px;">
<!-- Jamoa a'zosini kasbi model title -->
        <div class="mb-3">
            <label class="form-label" for="validationCustom01">Jamoa a'zosini kasbi Uzbek tilida </label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="Jamoa a'zosini kasbini yozing uzbek tilida" value="<%= result.job.uz %>" name="jobuz" required>
            <div class="invalid-feedback">
                Jamoa a'zosini ismi yozilmagan
            </div>
            <div class="valid-feedback">
               Yaxshi
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="validationCustom01">Jamoa a'zosini kasbi Rus tilida </label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="Jamoa a'zosini kasbini yozing rus tilida" value="<%= result.job.ru %>" name="jobru" required>
            <div class="invalid-feedback">
                Jamoa a'zosini kasbi yozilmagan
            </div>
            <div class="valid-feedback">
               Yaxshi
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="validationCustom01">Jamoa a'zosini kasbi Ingliz tilida </label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="Jamoa a'zosini kasbini yozing Ingliz tilida" value="<%= result.job.en %>" name="joben" required>
            <div class="invalid-feedback">
                Jamoa a'zosini kasbi yozilmagan
            </div>
            <div class="valid-feedback">
               Yaxshi
            </div>
        </div> 
        <hr style="color: red; height: 2px;">
        <!-- Jamoa a'zosining telegram profile yoki bo'lsa telegram kanali -->
        <div class="mb-3">
            <label class="form-label" for="validationCustom01">Jamoa a'zosining telegram profile yoki bo'lsa telegram kanali </label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="Jamoa a'zosining telegram profile yoki bo'lsa telegram kanali" value="<%= result.tg %>" name="tg" required>
            <div class="invalid-feedback">
                Jamoa a'zosini telegrami yozilmagan
            </div>
            <div class="valid-feedback">
               Yaxshi
            </div>
        </div>
        <hr style="color: red; height: 2px;">
        <!-- Jamoa a'zosini kasbi model title -->
        <div class="mb-3">
            <label class="form-label" for="validationCustom01">Jamoa a'zosining instagram profile </label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="Jamoa a'zosining instagram profileni yozing" value="<%= result.in %>" name="in" required>
            <div class="invalid-feedback">
                Jamoa a'zosini instagrami yozilmagan
            </div>
            <div class="valid-feedback">
               Yaxshi
            </div>
        </div>
        <hr style="color: red; height: 2px;">
        <!-- Jamoa a'zosini kasbi model title -->
        <div class="mb-3">
            <label class="form-label" for="validationCustom01">Jamoa a'zosining facebook profile </label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="Jamoa a'zosining facebook profileni yozing" value="<%= result.fc %>" name="fc" required>
            <div class="invalid-feedback">
                Jamoa a'zosini facebook yozilmagan
            </div>
            <div class="valid-feedback">
               Yaxshi
            </div>
        </div>
        <hr style="color: red; height: 2px;">
<!-- Jamoa a'zosi haqida  model description -->
        <div class="mb-3">
            <label class="form-label"  >Jamoa a'zosi haqida Uzbek tilida</label>
            <textarea class="form-control "  rows="5" 
                placeholder="Jamoa a'zosi haqida yozing Uzbek tilida" name="descriptionuz" ><%= result.description.uz %></textarea>
            
        </div>
        <div class="mb-3">
            <label class="form-label">Jamoa a'zosi haqida Rus tilida</label>
            <textarea class="form-control "  rows="5" 
                placeholder="Jamoa a'zosi haqida yozing rus tilida" name="descriptionru" ><%= result.description.ru %></textarea>
            
        </div>
        <div class="mb-3">
            <label class="form-label"  >Jamoa a'zosi haqida Ingliz tilida</label>
            <textarea class="form-control"  rows="5" 
                placeholder="Jamoa a'zosi haqida yozing Ingliz tilida" name="descriptionen" ><%= result.description.en %></textarea>
            
        </div>

        
        
        <button class="btn btn-primary" type="submit">Saqlash</button>
    </form>

    <!-- Bitta rasmni tahrirlash -->
    <form method="POST" action="<%=`/team/updateone/${result._id}?_method=PUT`%>" ref="uploadForm"
        encType="multipart/form-data" class="col-md-4 mt-3">
        <div class="mb-3">
            <label>Rasmni tahrirlash</label>
            <br>
           
            <img width="150px" class="col" src="/uploads/team/<%=result.image%>">
            
        </div> 
        <input class="form-control" name="image" type="file" multiple> <br>

        <button type="submit" class="btn btn-primary col-md-5 mt-3">Saqlash</button>
    </form>

<!-- Xizmatni ichiga rasm yuklash --> 
 
    <form method="POST" action="<%=`/team/update/${result._id}?_method=PUT`%>" ref="uploadForm"
        encType="multipart/form-data" class="col-md-4 mt-3">
        <div class="mb-3">
            <label>Rasmlarni yuklash Jamoa a'zosini qilgan ishlarini yuklash ichiga 3 yoki 4 ta rasm yuklasangiz bo'ladi</label>
             
        </div> 
        <input class="form-control" name="image" type="file" multiple> <br>

        <button type="submit" class="btn btn-primary col-md-5 mt-3">Saqlash</button>
    </form>
</div>